<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="false">
  <ion-img id="logo" src="assets/media/logo.png"></ion-img>

  <ion-card href="https://www2.dipbioter.unimol.it/summer-camp/summer-camp-informatica/">
    <ion-img src="assets/media/unimol.png"></ion-img>

    <ion-card-header>
      <ion-card-title>Hands on App development</ion-card-title>
      <ion-card-subtitle>Ada Summer Camp 2021 @UNIMOL</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>Pesche, 16 luglio 2021</ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button [routerLink]="['/list']" shape="round" strong="true">Catch 'em all!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
