<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" routerDirection="back">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>PokéDex</ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="this.search = !this.search">
        <ion-icon *ngIf="this.search === false" name="search-outline"></ion-icon>
        <ion-icon *ngIf="this.search === true" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <ion-refresher (ionRefresh)="this.refreshList($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar *ngIf="this.search === true" (ionInput)="this.filterList($event)"></ion-searchbar>

  <ion-list *ngIf="this.getList().length > 0; else empty_pokedex">
    <ion-item *ngFor="let pokemon of this.getList()" [routerLink]="['/sheet', pokemon.pokemonID]" button="true"
              detail="true">
      <ion-thumbnail>
        <ion-img src="{{ pokemon.avatar }}"></ion-img>
      </ion-thumbnail>

      <ion-grid>
        <ion-row>
          <ion-label class="id">#{{ pokemon.pokemonID.toString().padStart(3, '0') }}</ion-label>
        </ion-row>

        <ion-row>
          <ion-label class="name">{{ pokemon.name }}</ion-label>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ng-template #empty_pokedex>
    <ion-card>
      <ion-img src="assets/media/empty-pokedex.png"></ion-img>

      <ion-card-header>
        <ion-card-title>Sembra che il tuo PokéDex sia vuoto!</ion-card-title>
        <ion-card-subtitle>Perché non vai alla ricerca di nuovi Pokémon da catturare?</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button (click)="this.catchPokemon()" shape="round" strong="true">
          <ion-img src="assets/media/pokeball-outline.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
