.id {
  font-size: small;
}

.name {
  font-size: x-large;
}

ion-card {
  width: 80vw;

  margin: 5vh auto auto;
}

ion-footer {
  ion-button {
    height: 3em;

    font-size: medium;

    margin-bottom: 2vh;
  }

  ion-img {
    height: 2em;
  }
}

ion-thumbnail {
  margin-right: 10px;
}
